<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.raymond.barbro">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/barbro"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DrinkDetailActivity" />

        <provider
            android:name=".data.BarBroContentProvider"
            android:authorities="com.example.raymond.barbro"
            android:exported="false" />
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.raymond.barbro.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service
            android:name=".sync.BarBroSyncIntentService"
            android:exported="false" />

        <activity android:name=".AddDrinkActivity"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".VideoActivity"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".MyDrinkDetailActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".EditDrinkActivity"
            android:parentActivityName=".MyDrinkDetailActivity"/>
        <activity android:name=".SearchWeb"
            android:parentActivityName=".AddDrinkActivity"></activity>
        <meta-data android:name="com.google.android.gms.vision.DEPENDENCIES" android:value="ocr"/>
    </application>

</manifest>